.p_frame{
    position: absolute;
    border: 1px solid blue;
    background-color: lightgray;
    z-index:2147483645;
    opacity: 0.8;
    display: flex;
    align-items: center;
}
.p_case{
    margin:auto;
    width: 153px;
    height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_graph{
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.p_title{
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Safari */
@-webkit-keyframes spin{
    0%{ 
        -webkit-transform: rotate(0deg); 
    }
    100%{ 
        -webkit-transform: rotate(360deg); 
    }
}

@keyframes spin{
    0%{ 
        transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg); 
    }
}