<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="/filebrowser/client/self/media/images/favicon.ico" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{{ js }}
		{{ css }}
		<title>{{ title }}</title>
	</head>
	<body onload="web.app.filebrowser.self.executes.init.task()">
		<header>
			{{ headers }}
		</header>
		<section>
			{{ sections }}
		</section>
		<footer>
			{{ footers }}
		</footer>
	</body>
</html>
